.bg-block
  h4.bg-block__title Lorem Ipsum
  p
    | Lorem ipsum dolor sit amet, secte uer ad ipiscing elit, sedam nonumy nibh euismod tidunt ut laoreet dolmagna quam erat volutpat. Ut wisiaminim veniam qui nostru xerctation ullamcorp susc lobortis nisl ut aliqui ex ea consequat. Duis autem vel eu iriure dolor in hendrerit in vul veliesse molesti consequa vel illum dolore eu feugi at nul facilisis at vero eros et acc faci.sedam nonumy nibh euismod dunt ut laoreet dolmagna qua erat volutpat.
  include ./_links-block
