.card-block
  p.card-block__text
    | Lorem ipsum dolor sit amet, secte uer adipiscin elit, sedam nonumy nibh euismod tidunt ut laor  olma gna quam erat volutpat. Ut wisiad minim  niam, qui nostru xerctation ullamcorper susc lo tis nisl ut aliquip ex ea consequat. Duis autem  eu iriure dolor in hendrerit in vul velit esse mo  consequa vel illum dolore eu feugi at nul facilis  at vero eros et acc faci. sedam nonumy nibh  mod tidunt ut laoreet dolmagna quam erat vol at. Ut wisiad minim veniam, qui nostru xerctat ullamcorper susc lobortis nisl ut aliq
  img(src=img).card-block__img