section.content
  .container
    .row
      .col-small
        include ./_news
      .col-big
        .row
          .bg-col
            include ./_bg-block
          .plain-col
            include ./_plain-block
