header.page-header
  .page-header__logo
    include ./_logo
  .page-header__menu
    .page-header__menu-inner
      +nav('menu', ['Home', 'About Us', "Events", "Product Catalog", "Contact Us", "Links"], 0)
  .page-header__lenta
    include ./_lenta

