-
  var imgs = [
      'img/1.jpg',
      'img/2.jpg',
      'img/3.jpg',
      'img/4.jpg',
      'img/41.jpg', // error img
      'img/1.jpg',
      'img/2.jpg',
      'img/3.jpg',
      'img/4.jpg',
  ]
.lenta
  - each img in imgs
      div(data-src= img)
