.news(data-news)
  h3.news__title News
  img(src="img/news-loader.gif" class="news__loader" data-news-loader)
  //- .news-item
  //-   .news-item__header
  //-     .news-item__title News name
  //-     .news-item__date 15.12.2004
  //-   .news-item__content
  //-     div
  //-       p
  //-         | Lorem m ipsum dolor sit amet, secte uer ad scing elit, sedam nonumy nibh euismod tdunt ut laoreet dolmagna quam erat volupat. Ut wisi ad minim veniam, quis nostru xerc tation ullamcorper susc lobortis  nisut aliquip ex ea consequat. Duis autem vel eu iriure d ipsum dolor sit amet, secte uer ad scing elit, sedam nonumy nibh euismod tdunt ut laoreet dolmagna quam erat volupat. Ut wisi ad minim veniam, quis nostru xerc tation ullamcorper susc lobortis  nisut aliquip ex ea consequat. Duis autem vel eu iriure dolor in hendrerit in vul velit esse molesti consequa vel illum dolore eu feugiat nul facilisis at vero eros et accfacilisi. Duis autem vel eu iriure dolor in hendrerit in vul velit esse molesti consequa vel illum dolore iriure dolor in hendre...
  //-   a(href='#').news-item__more more
  //-     span &nbsp;&gt;
  //- .news-item
  //-   .news-item__header
  //-     .news-item__title News name
  //-     .news-item__date 12.12.2004
  //-   .news-item__content
  //-     div
  //-       p
  //-         |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, aliquid quaerat eveniet provident modi mollitia esse asperiores cumque illum recusandae id assumenda neque quo ratione praesentium sed enim possimus illo fuga explicabo unde autem molestias minus tempora. Modi soluta perspiciatis dolore expedita in atque ratione delectus aperiam eligendi ducimus velit praesentium, molestiae consequuntur natus aliquam maxime quis rerum mollitia, debitis nemo assumenda sed nostrum iure sint! Alias...
  //-   a(href='#').news-item__more more
  //-     span &nbsp;&gt;