.news {
  @extend %clearfix;
  padding-right: 10px;
  margin-bottom: 20px;

  @media (min-width: 750px) {
    margin-bottom: 0;
  }
}

.news__title {
  @extend %main-title;
  margin-bottom: 0;
  padding-left: 20px;
}

.news__container {
  @extend %clearfix;
  border-bottom: 1px solid #999;

  @media (min-width: 750px) {
    border: none;
  }
}

.news__loader {
  display: block;
  height: 164px;
  margin: 0 auto;
  @media (min-width: 750px) {
    height: auto;
  }

  &.show {
    display: block;
  }

  &.loaded {
    display: none;
  }
}